@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

/* For main page
    Some styles used in other pages as well */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Ubuntu, sans-serif;
}

.appt-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Ubuntu, sans-serif;
    margin-bottom: 30px;
}

.appts {
    font-weight: 800;
    font-size: 3em;
    margin-top: 20px;
    margin-bottom: 15px;
}

.upcoming-appts {
    font-weight: 800;
    font-size: 1.75em;
}

.appt-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.appt-slot {
    display: flex;
    flex-direction: column;
    background-color: #76A5FF;
    height: 300px;
    width: 600px;
    padding: 50px;
    align-items: center;
    justify-content: center;
    font-weight: 1000;
    font-size:1.25em;
}

.appt-slot > div {
    margin: 10px;
}

.view-detail {
    background-color: #C26FE9;
    padding: 20px 100px;
    border: none;
    border-radius: 10px;
    margin-top: 30px;
    font-size: 1.5em;
    font-weight: 1000;
}

.view-detail:hover {
    cursor: pointer;
    background-color: #9858b6;
    transition-timing-function: ease-in-out 0.5s;
}

/* For Delay Request Page */

.request {
    background-color: #38B63C;
}

.request:hover {
    background-color: #277e2a;
}

.appt-num {
    font-size: 1.5em
}

/* For Settings Page */

.setting-row {
    width: 400px;
}

.setting-name {
    float: left;
}

.setting-element {
    float: right;
}

/* For Appointment Detail Page */
.appt-det {
    display: flex;
    flex-direction: column;
    background-color: #76A5FF;
    padding: 50px;
    height: 80%;
    width: 95%;
    align-items: center;
    justify-content: center;
    font-weight: 1000;
    font-size:1.25em;
}

.reschedule-button {
    background-color: #21dd22;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
    font-size: .75em;
    font-weight: 1000;
    height: 50px;
    width: 100%;
}

.cancel-button {
    background-color: #d82f2f;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
    font-size: .75em;
    font-weight: 1000;
    height: 50px;
    width: 100%;
}

.search-button {
    background-color: #38f2ff;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
    font-size: .75em;
    font-weight: 1000;
    height: 40px;
    width: 70%;
}

