
table {
    border-spacing: 0.5rem;
    margin-left: 15vw;
    margin-top: 10vh;
}
td {
    padding-left: 0.8vw;
    padding-top: 0.2vw;
    padding-bottom: 0.2vw;
    height: 0.5vw;
}
td:nth-child(1) {
    background: #76A5FF;
    width: 60vw;
    font-family: "Roboto Light", Arial, "Times New Roman";
    border-radius: 20px;
; }
td:nth-child(2) {

    width: 8vw;

    font-family: "Roboto Light", Arial, "Times New Roman";
    border-radius: 20px;
    text-align: center;
; }

td:nth-child(2) button {
    line-height: 30px;
    width: 8vw;
    height: 5vw;
    border-radius: 10px;
    background: #76A5FF;
}