/* Modified the HTML and CSS in this page to change the display from a table to div elements
   We can make this look cleaner in future frontend sprints
*/

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.view-button {
    line-height: 30px;
    width: 8vw;
    height: 5vw;
    border-radius: 10px;
    background: #5677b5;
}

.element-container {
    display: flex;
    background: #76A5FF;
    align-items: center;
    justify-content: space-around;
    margin: 25px;
    width: 1000px;
    border-radius: 20px;
}

.info-container {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;

}

.element-box {
    align-items: left;
    justify-content: left;
    margin-right: 10px;
}