@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    /* background-color: seagreen; */
}

.nav-links li {
    display: inline-block;
}

.nav-img-button {
    background-color: white;
    border: none;
    padding: 10px;
    border-radius: 30px;
}

.sign-out {
    position: relative;
    bottom: 10px;
    background-color: rgb(71, 181, 255);
    color: white;
    border-radius: 10px;
    padding: 10px;
    border: none;
}

.sign-out:hover {
    cursor: pointer;
    background-color: rgb(116, 116, 255);
    transition: ease 0.5s;
}

.nav-img-button:hover {
    background-color: rgba(46, 46, 46, .5);
    cursor: pointer;
    transition: ease 0.5s;
}

.apt-button {
    font-family: Ubuntu, sans-serif;
    font-size: 25px;
    text-decoration: none;
    color: black;
}


.apt-button:hover {
    cursor: pointer;
    color:rgba(46, 46, 46, .5);
    transition: .3s ease;
}

.logo-button {
    position: relative;
    top: 6px;
    margin-right: 10px;
}

.right-links {
    margin-right: 2em;
}